.weather {
    width: 400px;
    height: 250px;
    border-radius: 0.6rem;
    box-shadow: 10px -2px 20px 2px rgba(0, 0,0, 30%);
    color: black;
    background: hsl(161, 19%, 50%);
    margin: 1.5rem auto 0 auto;
    padding: 1rem 1rem 0 3rem;
    transition: all .4s linear;
}
.weather:hover {
    box-shadow: 10px -2px 20px 2px rgba(0, 0,0, 50%);
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city {
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.weather_description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin: 0.3rem;
}
.weather_icon {
    width: 100px;
}